@page
@model SalonS.Pages.ConfirmLogout

@{
    ViewData["Title"]="Logout Confirmed";
}
<div class="container">
    <h1>Log Ud Bekræftet</h1>
    <p>Du er nu Logget Ud. Tak for at benytte vores service.</p>
</div>
