@page
@model SalonS.Pages.LoginModel
@{
    Layout = null;
}

<html>
<head>
    <title>Salons S</title>
</head>
<body>
<form method="post">
    <div class="form-group">
        <label>Email</label><br/>
        <input class="form-control" asp-for="@Model.Email"/><br/>

        <label>Kodeord</label><br/>
        <input type="password" class="form-control" asp-for="@Model.Adgangskode"/><br/>

        <input type="submit" value="Login" class="btn btn-success"/>

        <!-- Add the "Register Here" button -->
        <a href="/Kunde/Opretkunde" class="btn btn-primary">Opret Her</a>
    </div>
</form>
</body>
</html>
